<a href="https://colab.research.google.com/github/manjeetsrivastava/dsbda/blob/main/dsbda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About Dataset**
Context
Understanding global economic dynamics, specifically the trends in inflation rates, is paramount for policymakers, economists, and researchers. This dataset, covering the years 1980 to 2024, offers a comprehensive perspective on inflation across various countries. The primary focus is on dissecting the data based on country-specific indicators, providing valuable insights into the multifaceted factors influencing economic environments on a global scale.
link for dataset:- https://www.kaggle.com/datasets/sazidthe1/global-inflation-data?resource=download

**1. Import all the required libraries**

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

**3. Load the dataset into pandas dataframe.**

In [4]:
#load the dataset in data frame
df = pd.read_csv('/content/global_inflation_data.csv')

**4. Data preprocessing: check for the muissing values in the data using pandas isnull(),describe()function to get some initial statistics. Types of variables . Check the dimensions of the data frame.**

In [5]:
df.columns

Index(['country_name', 'indicator_name', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [6]:
df.head()

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,Annual average inflation (consumer prices) rate,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,Annual average inflation (consumer prices) rate,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3

In [7]:
df['indicator_name'].unique()

array(['Annual average inflation (consumer prices) rate'], dtype=object)

In [8]:
df.tail()

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
191,Vietnam,Annual average inflation (consumer prices) rate,25.2,69.6,95.4,49.5,64.9,91.6,453.5,360.4,...,0.6,2.7,3.5,3.5,2.8,3.2,1.8,3.2,3.4,3.4
192,West Bank and Gaza,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4,-0.2,0.2,-0.2,1.6,-0.7,1.2,3.7,3.4,2.7
193,Yemen,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,21.3,30.4,33.6,15.7,21.7,31.5,29.5,14.9,17.3
194,Zambia,Annual average inflation (consumer prices) rate,11.7,14.0,12.5,19.7,20.0,37.4,48.0,43.0,...,10.1,17.9,6.6,7.5,9.2,15.7,22.0,11.0,10.6,9.6
195,Zimbabwe,Annual average inflation (consumer prices) rate,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,...,-2.4,-1.6,0.9,10.6,255.3,557.2,98.5,193.4,314.5,222.4

In [9]:
df.head(10)

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,Annual average inflation (consumer prices) rate,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,Annual average inflation (consumer prices) rate,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3
5,Antigua and Barbuda,Annual average inflation (consumer prices) rate,19.0,11.5,4.2,2.3,3.8,1.0,0.5,3.6,...,1.00,-0.50,2.40,1.20,1.4,1.10,1.60,7.50,5.0,2.9
6,Argentina,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.70,34.30,53.5,42.00,48.40,72.40,121.7,93.7
7,Armenia,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.70,-1.40,1.20,2.50,1.4,1.20,7.20,8.60,3.5,4.0
8,Aruba,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,...,0.50,-0.90,-1.00,3.60,3.9,-1.30,0.70,5.50,4.5,2.3
9,Australia,Annual average inflation (consumer prices) rate,10.1,9.5,11.4,10.0,4.0,6.7,9.1,8.5,...,1.50,1.30,2.00,1.90,1.6,0.90,2.80,6.60,5.8,4.0

In [10]:
# Quick information about the global inflamation dataset ex:-  non null count and data type in column name
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 47 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    196 non-null    object
 1   indicator_name  196 non-null    object
 2   1980            140 non-null    float64
 3   1981            144 non-null    float64
 4   1982            145 non-null    float64
 5   1983            145 non-null    float64
 6   1984            145 non-null    float64
 7   1985            145 non-null    float64
 8   1986            145 non-null    float64
 9   1987            147 non-null    float64
 10  1988            147 non-null    float64
 11  1989            147 non-null    float64
 12  1990            150 non-null    float64
 13  1991            155 non-null    float64
 14  1992            158 non-null    float64
 15  1993            169 non-null    float64
 16  1994            171 non-null    float64
 17  1995            172 non-null    float64
 18  1996            176 non-null    float64
 19  1997            179 non-null    float64
 20  1998            181 non-null    float64
 21  1999            182 non-null    float64
 22  2000            183 non-null    float64
 23  2001            187 non-null    float64
 24  2002            189 non-null    float64
 25  2003            190 non-null    float64
 26  2004            191 non-null    float64
 27  2005            193 non-null    float64
 28  2006            193 non-null    float64
 29  2007            193 non-null    float64
 30  2008            193 non-null    float64
 31  2009            193 non-null    float64
 32  2010            193 non-null    float64
 33  2011            192 non-null    float64
 34  2012            193 non-null    float64
 35  2013            194 non-null    float64
 36  2014            194 non-null    float64
 37  2015            194 non-null    float64
 38  2016            194 non-null    float64
 39  2017            195 non-null    float64
 40  2018            195 non-null    float64
 41  2019            195 non-null    float64
 42  2020            194 non-null    float64
 43  2021            194 non-null    float64
 44  2022            194 non-null    float64
 45  2023            192 non-null    float64
 46  2024            191 non-null    float64
dtypes: float64(45), object(2)
memory usage: 72.1+ KB

In [11]:
# it gives data about count, mean
df.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,140.000000,144.000000,145.000000,145.000000,145.000000,145.000000,145.000000,147.000000,147.000000,147.000000,...,194.000000,194.000000,195.000000,195.000000,195.000000,194.000000,194.000000,194.000000,192.000000,191.000000
mean,21.757143,17.796528,17.029655,19.177241,26.979310,103.215172,25.262069,111.294558,58.635374,101.246259,...,4.116186,6.594742,7.656821,339.688359,107.294872,19.832680,16.577629,13.616031,13.736458,9.309424
std,33.656118,18.992691,22.797064,34.806824,111.889811,975.748316,86.931210,1081.094434,400.370989,679.792142,...,10.763149,31.096216,34.954954,4681.227548,1425.256254,173.722612,117.154632,25.282229,39.667874,25.195589
min,-7.300000,0.000000,-0.900000,-8.500000,-7.400000,-16.000000,-17.600000,-31.200000,-13.000000,-9.600000,...,-3.800000,-5.600000,-13.300000,-44.400000,-3.200000,-2.600000,-3.000000,-3.200000,-0.800000,1.200000
25%,9.550000,8.600000,6.100000,5.000000,3.800000,2.800000,1.800000,2.150000,2.550000,3.350000,...,0.100000,0.100000,1.150000,1.300000,0.800000,0.400000,1.925000,5.500000,4.000000,2.800000
50%,13.850000,12.500000,10.300000,8.700000,8.000000,7.100000,5.800000,5.900000,6.800000,6.900000,...,1.500000,1.500000,2.400000,2.500000,2.200000,1.900000,3.500000,8.100000,5.800000,4.000000
75%,20.525000,19.800000,16.700000,16.000000,17.100000,16.800000,18.200000,16.650000,17.800000,16.700000,...,4.800000,5.125000,5.200000,4.300000,4.000000,4.575000,5.975000,11.975000,9.925000,5.800000
max,316.600000,116.800000,123.600000,275.600000,1281.300000,11749.600000,885.200000,13109.500000,4775.200000,7428.700000,...,121.700000,346.100000,438.100000,65374.100000,19906.000000,2355.100000,1588.500000,193.400000,360.000000,222.400000

In [12]:
# check dimensions of the data frame.

df.shape

(196, 47)

In [13]:
# To check data types
column_dtype=df.dtypes

In [14]:
print(column_dtype)

country_name       object
indicator_name     object
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
1986              float64
1987              float64
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
2024              float64
dtype: object

**5.Data Normalization**

In [15]:
# initialize Minmax Scaler
scaler = MinMaxScaler()

#fitting the scaler to the data and transforming it.
scaled_1980 = scaler.fit_transform(df[['1980']])

In [25]:
scaled_1980

array([[0.06390861],
       [       nan],
       [0.05248533],
       [       nan],
       [0.16671812],
       [0.0811979 ],
       [       nan],
       [       nan],
       [       nan],
       [0.05372028],
       [0.04198827],
       [       nan],
       [0.06020377],
       [0.03426984],
       [0.04631059],
       [0.07965421],
       [       nan],
       [0.04322322],
       [0.04445817],
       [0.0521766 ],
       [0.06112998],
       [0.16795307],
       [       nan],
       [0.05989503],
       [0.30101883],
       [       nan],
       [0.02253782],
       [0.0605125 ],
       [0.02624267],
       [0.06915715],
       [       nan],
       [0.04631059],
       [0.05402902],
       [0.06359988],
       [0.04908923],
       [0.1309046 ],
       [       nan],
       [0.10250077],
       [0.06359988],
       [0.14603273],
       [0.04507564],
       [0.07841927],
       [       nan],
       [0.06421735],
       [       nan],
       [0.0497067 ],
       [0.05742513],
       [       nan],
       [0.09632603],
       [0.08953381],
       [0.06267366],
       [0.08582896],
       [0.0762581 ],
       [0.02253782],
       [       nan],
       [       nan],
       [0.078728  ],
       [0.06082124],
       [0.06730472],
       [0.05835134],
       [0.0629824 ],
       [0.0605125 ],
       [0.03797468],
       [       nan],
       [0.03920963],
       [0.17690645],
       [0.0994134 ],
       [0.08984254],
       [0.05557271],
       [0.14603273],
       [0.22259957],
       [0.06606977],
       [0.08150664],
       [0.07841927],
       [0.03612226],
       [0.05125039],
       [0.20314912],
       [0.05742513],
       [0.07811053],
       [0.0861377 ],
       [       nan],
       [0.07903674],
       [1.        ],
       [0.08984254],
       [0.07811053],
       [0.04661933],
       [0.05619018],
       [       nan],
       [0.0654523 ],
       [0.07224452],
       [0.11114542],
       [       nan],
       [       nan],
       [       nan],
       [0.60543378],
       [       nan],
       [0.09632603],
       [0.08305032],
       [       nan],
       [0.06668725],
       [       nan],
       [0.04198827],
       [       nan],
       [0.07903674],
       [0.08181538],
       [0.04322322],
       [0.10867552],
       [0.08521149],
       [0.03087373],
       [       nan],
       [       nan],
       [0.12442112],
       [0.1043532 ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.05155912],
       [0.02871257],
       [       nan],
       [       nan],
       [       nan],
       [0.05279407],
       [       nan],
       [0.07533189],
       [0.1309046 ],
       [0.04507564],
       [       nan],
       [       nan],
       [0.05619018],
       [0.05341155],
       [0.05927755],
       [       nan],
       [0.06514356],
       [0.05989503],
       [0.0920037 ],
       [0.20500154],
       [0.078728  ],
       [0.05155912],
       [0.04075332],
       [       nan],
       [0.04353195],
       [0.02716888],
       [       nan],
       [0.0447669 ],
       [0.08212411],
       [0.08243285],
       [0.07564063],
       [0.12442112],
       [       nan],
       [0.03612226],
       [0.0497067 ],
       [       nan],
       [0.06421735],
       [0.06236493],
       [0.04878049],
       [       nan],
       [       nan],
       [0.04785428],
       [       nan],
       [0.06637851],
       [       nan],
       [0.07070083],
       [0.10311825],
       [0.1043532 ],
       [0.06637851],
       [0.07656684],
       [0.03488731],
       [0.08212411],
       [0.02315529],
       [0.0811979 ],
       [       nan],
       [0.11577647],
       [0.08335906],
       [       nan],
       [0.0605125 ],
       [0.        ],
       [0.07656684],
       [0.05341155],
       [       nan],
       [       nan],
       [0.36400123],
       [0.32880519],
       [       nan],
       [0.05372028],
       [0.07440568],
       [0.06421735],
       [0.21858598],
       [       nan],
       [0.05711639],
       [0.08860759],
       [0.10033961],
       [       nan],
       [       nan],
       [0.05866008],
       [       nan]])

In [17]:
variable_types = {'character': [], 'numeric': [], 'integer': []}

# Iterate over columns and check data types
for column in df.columns:
    dtype = df[column].dtype

    # Check if the data type is object (character)
    if dtype == 'object':
        variable_types['character'].append(column)
    # Check if the data type is numeric
    elif dtype == 'float64':
        variable_types['numeric'].append(column)
    # Check if the data type is integer
    elif dtype == 'int64':
        variable_types['integer'].append(column)

# Print summary of variable types
print("Character Variables:", variable_types['character'])
print("Numeric Variables:", variable_types['numeric'])
print("Integer Variables:", variable_types['integer'])

Character Variables: ['country_name', 'indicator_name']
Numeric Variables: ['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
Integer Variables: []

In [23]:
# type conversion

df['1980'] = df['1980'].astype(str)

In [24]:
df['1980'].dtype

dtype('O')

**6.Turn Categorical values into quantitative variables**

In [18]:
# Initialize LabelEncoder

label_encoder = LabelEncoder()
 # convert categorical data into numerical
df["country_name_edited"] = label_encoder.fit_transform(df['country_name'])

In [19]:
df['country_name_edited']

0        0
1        1
2        2
3        3
4        4
      ...
191    191
192    192
193    193
194    194
195    195
Name: country_name_edited, Length: 196, dtype: int64